*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
.heading{
  padding-left: 573px;
  padding-top: 50px;
  padding-bottom: 71px;
  background: #ece1e4;
  letter-spacing: 5px;
  font-family: 'Archivo Black';font-size: 40px;
  color: coral;
}

.cards{
  width: 25%;
  background: darkgray;
  margin: 50px 50px;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
  float: left;
}
.image{
  width: 100%;
}
.image{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.title>h1{
  text-align: center;
}
.des{
  text-align: center;
  padding-top: 10px;
}
button{
  padding: 5px 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: none;
  cursor: pointer;

}
button:hover{
  background: coral;
  color: rgb(33, 20, 155);
  border-style: solid;
}
